/*  app components css   */

/* Style the navigation bar */
.navbar {
  background: #333;
  padding: 15px;
  text-align: center;
}

/* Style the list */
.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

/* Style the navigation links */
.nav-list li {
  margin: 0 15px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

/* Hover effect */
.nav-link:hover {
  color: #385c4c;
}

/* Responsive design */
@media (max-width: 600px) {
  .nav-list {
    flex-direction: column;
  }
  
  .nav-list li {
    margin-bottom: 10px;
  }
}

