<div class="admin-dashbpard"></div>
<div class="dash"></div>
<h2>Admin Dashboard</h2>
<table border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Number</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.address }}</td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="errorMessage" style="color: red">{{ errorMessage }}</p>